<!doctype html>
<html>
    <head>
        <title>{% block title -%}{%- endblock %} » Bling Wing Jewellery</title>

        <meta charset="utf-8">
        <meta httpequiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/favicon.svg" type="image/svg">

        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>
            <div id="user">
                {#{% if app.user and is_granted("ROLE_USER") %}
                    Logged in as <strong>{{ app.user.name }}</strong>. <a class="logout" href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}#}
            </div>

            <div class="logo">
                <img src="/img/BlingWing.jpg" alt="Bling Wing Jewellery" width="140" height="50" class="logo">
            </div>

            <nav>
                <ul>
                    <li><a href="/"><div class="btn btn-light">Home</div></a></li>
                    <li><a href="/collections/"><div class="btn btn-light">Collections</div></a></li>

                    {#
                    {% if app.user and is_granted("ROLE_USER") %}
                        <li>|</li>
                        {% if is_granted("ROLE_MODERATOR") %}
                            <li><a href="/moderation">Moderation</a></li>
                        {% elseif is_granted("ROLE_ANALYST") %}
                            <li><a href="/stats">Stats</a></li>
                        {% endif %}
                    {% endif %}
                    #}
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div>
                Contact | Terms of service 
            </div>
            <div>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-pinterest"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
            <div>
                &copy; Copyright 2021
            </div>
        </footer>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
